div {
    /*border: 1px solid red;*/
}

.borderless > thead > tr > th,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > tbody > tr > td,
.borderless > tfoot > tr > td {
    border-top: none;
    margin: 0px;
    padding-left: 0px;
}

.btn-group-vertical > button {
    /*margin-bottom:10px;*/
    border-radius: 5px !important;
}

.btn-group > button {
    margin-right: 5px;
    border-radius: 5px !important;
}

.navbar {
    border-radius: 0;
}

footer {
    background-color: #222;
    border-color: #080808;
    color: #9d9d9d;
    padding: 15px;
}


/* author section styles */
.section-name {
    text-align: center;
    font-size: 24pt;
    color: #222;
}

.stars {
    /*white-space: nowrap;*/
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.stars-end {
    clear: both;
}

.section-author-name {
    text-align: center;
    font-size: 24pt;
    color: #0099cc;
}

/* styles for BookSerieItem */
.book-item-name {
    font-size: 24pt;
}

/* style for ScrollTop button */
.scroll {
    opacity: 0.3;
    background-color: #9d9d9d;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 5px;
    border: none;
}

.scroll:hover {
    opacity: 1;
}

.arrow-up {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
}