div {
    /*border: 1px solid red;*/
}

.borderless > thead > tr > th,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > tbody > tr > td,
.borderless > tfoot > tr > td {
    border-top: none;
    margin: 0px;
    padding-left: 0px;
}

fieldset.scheduler-border {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend {
    font-size: 10pt;
    padding:0 5px;
    border-bottom: none;
    width: auto; // fixes the problem 1
}

.btn-group-vertical > button {
    margin-bottom: 2px;
    border-radius: 5px !important;
}

.btn-group > button {
    margin-right: 5px;
    border-radius: 5px !important;
}

.navbar {
    border-radius: 0;
}

footer {
    background-color: #222;
    border-color: #080808;
    color: #9d9d9d;
    padding: 15px;
}


/* author section styles */
.section-name {
    text-align: center;
    font-size: 24pt;
    color: #222;
}

.friendlist-item-name {
    font-size: 12pt;
    color: #222;
}

.section-author-name {
    text-align: center;
    font-size: 24pt;
    color: #0099cc;
}

.friendlist-item-section {
    font-size: 12pt;
    color: #0099cc;
}

.stars {
    /*white-space: nowrap;*/
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.stars-end {
    clear: both;
}

.clickable {
    cursor: pointer;
}

/* styles for BookSerieItem */
.book-item-name {
    font-size: 24pt;
}

/* style for ScrollTop button */
.scroll {
    opacity: 0.3;
    background-color: #9d9d9d;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 5px;
    border: none;
}

.scroll:hover {
    opacity: 1;
}

.arrow-up {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
}

.pagination {
    margin: 0px;
}

.counter {
    color: lightgray;
}

.chat-group-header {
    font-weight: bold;
    font-size: 12pt;
}

.chat-group-body {
    font-size: 10pt;
    margin-top: 10px;
}

.alphabet-rectangle {
    font-size: 10pt;
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.offline-user {
    font-weight: bold;
    color: red;
}

.online-user {
    font-weight: bold;
    color: green;
}

.big-counter {
    font-size: 20pt;
    font-weight: bold;
    color: green;
}

.author-short-avatar {
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.discussion-short-avatar {
    float: left;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.discussion-text-float {
    float: right;
    margin-top: 5px;
}

.discussion-text {
    margin-top: 5px;
}

.faq-question {
    color: darkblue;
    font-weight: bold;
}

.faq-answer {
    margin-left: 25px;
    margin-right: 25px;
}